replicaCount: 1

image:
  repository: iroussevcom/site
  tag: latest
  pullPolicy: Always

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  ingressClassName: nginx
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
  path: /
  pathType: Prefix
  hosts:
    - iroussev.com
  tls:
    - secretName: iroussev-tls
      hosts:
        - iroussev.com