replicaCount: 1

image:
  repository: iroussevcom/site
  tag: latest
  pullPolicy: Always

service:
  type: ClusterIP
  port: 3000

ingress:
  enabled: true
  className: "nginx"
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
  hosts:
    - host: iroussev.com
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: iroussev-com-tls
      hosts:
        - iroussev.com

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi